body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

th,
td {
    padding: 8px;
    border: 1px solid #ccc;
}

#loading img {
    width: 50px;
}